body{
    background-image: url(../photos/mall.jpg);
    background-size: cover;
}
.uu:hover
{
    color:sienna;
    background-color:darkslategrey;
   
}
.uu
{
    padding:15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 120%;
    margin-left: 60px;
}
table.nav{

    width: 1570px;
    background-color: paleturquoise;

}
.p
{
    padding:10px;
    margin-left: 400px;
    min-height: 300px;
    width: 700px;
    background-color: cadetblue;

}
.nav_bar
{
    min-height: 300px;
    width: 200px;
    padding-left: 7px;
    background-color:paleturquoise;
}
.yy:hover
{
    color:firebrick;
    background-color: darkcyan;
}
.yy
{
    font-weight: bold;
    color: indigo;
    padding: 20px;
    list-style: none;
    margin-top: 30px  
}   
.head
{
    padding: 20px;
    color:white;
    font-size: 150%;
    font-weight: bold;
    background-color:black;
}